# Don't keep docs, CMAKE, or makefiles.
docs/
Doxyfile

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
# Don't commit IDE Settings
.vscode/
# Don't commit travis files
test/
# Don't commit actual binary
chezy-emergency